
<footer class="module module-footer"> <script>

$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a:not('.not_anchor')").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12"> <img src="/content/dam/southpower/assets/img/bike/Shimano_logo_light.png" alt="Shimano" class="logo" /> </div>
    </div>
    <div class="row column-list">
      <div class="tablet">
        <div class="columns">
          <h3>Components</h3>
          <ul>
            <li> <a href="#">Road</a> </li>
            <li> <a href="#">Mountain</a> </li>
            <li> <a href="#">City & Comfort</a> </li>
            <li> <a href="#">E-Bike</a> </li>
          </ul>
        </div>
        <div class="columns">
          <h3>Apparel & Accesories</h3>
          <ul>
            <li> <a href="#">Apparel</a> </li>
            <li> <a href="#">Eyewear</a> </li>
            <li> <a href="#">Footwear</a> </li>
            <li> <a href="#">Pedals</a> </li>
            <li> <a href="#">Bags</a> </li>
            <li> <a href="#">Sport Camera</a> </li>
          </ul>
        </div>
        <div class="columns">
          <h3>Technology</h3>
          <ul>
            <li> <a href="#">Di2 Technology</a> </li>
            <li> <a href="#">Shimano Steps</a> </li>
          </ul>
        </div>
      </div>
      <div class="tablet">
        <div class="columns">
          <h3>Repair & Custom Parts</h3>
          <ul>
            <li> <a href="#">Apparel</a> </li>
            <li> <a href="#">Eyewear</a> </li>
            <li> <a href="#">Footwear</a> </li>
            <li> <a href="#">Pedals</a> </li>
            <li> <a href="#">Bags</a> </li>
            <li> <a href="#">Sport Camera</a> </li>
          </ul>
        </div>
        <div class="columns">
          <h3>INFORMATION</h3>
          <ul>
            <li> <a href="#">News</a> </li>
            <li> <a href="#">Shimano Service Centers</a> </li>
            <li> <a href="#">Multi-Service & Events</a> </li>
            <li> <a href="#">Environmental Policy</a> </li>
            <li> <a href="#">Warranty</a> </li>
            <li> <a href="#">Corrective Actions</a> </li>
            <li> <a href="#">Tech Docs</a> </li>
            <li> <a href="#">E-Tube Project</a> </li>
            <li> <a href="#">Shimano Advocacy</a> </li>
            <li> <a href="#">About Us</a> </li>
            <li> <a href="#">Contact Us</a> </li>
          </ul>
        </div>
        <div class="columns social"> <a href="#" class="cta-button cta3"> newsletter sign up </a>
          <h4><span class="icon-p_lang"></span> Components</h4>
          <ul class="social-list">
            <li> <a href="#" target="_blank"> <i class="ui-facebook" aria-hidden="true"></i> </a> </li>
            <li> <a href="#" target="_blank"> <i class="ui-twitter" aria-hidden="true"></i> </a> </li>
            <li> <a href="#" target="_blank"> <i class="ui-instagram" aria-hidden="true"></i> </a> </li>
            <li> <a href="#" target="_blank"> <i class="ui-youtube" aria-hidden="true"></i> </a> </li>
          </ul>
          <h4><span class="icon-p_lang"></span> Accesories</h4>
          <ul class="social-list">
            <li> <a href="#" target="_blank"> <i class="ui-facebook" aria-hidden="true"></i> </a> </li>
            <li> <a href="#" target="_blank"> <i class="ui-twitter" aria-hidden="true"></i> </a> </li>
            <li> <a href="#" target="_blank"> <i class="ui-instagram" aria-hidden="true"></i> </a> </li>
            <li> <a href="#" target="_blank"> <i class="ui-youtube" aria-hidden="true"></i> </a> </li>
          </ul>
          <h4><span class="icon-share"></span> Share this page</h4>
          <ul class="social-list shere">
            <li style="display: block; margin-bottom: 10px; min-height: 28px;"> </li>
            <li style="display: block; margin-bottom: 10px; min-height: 28px;"> <a class="twitter-share-button"
                        href="https://twitter.com/share"
                        data-size="large"
                        data-text="custom share text"
                        data-url="https://dev.twitter.com/web/tweet-button"
                        data-hashtags="example,demo"
                        data-via="twitterdev"
                        data-related="twitterapi,twitter"><i class="ui-twitter" aria-hidden="true"></i> Tweet </a> </li>
            <li style="display: block; margin-bottom: 10px; min-height: 28px;"> 
              <!-- Inserisci questo tag nel punto in cui vuoi che sia visualizzato l'elemento pulsante Condividi. -->
              <div class="g-plus" data-action="share" data-annotation="bubble" data-height="28"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row penultimate">
      <div class="col-xs-12">
        <ul>
          <li> <a href="#">Fishing</a> </li>
          <li> <a href="#">Rowing</a> </li>
          <li> <a href="#">Corporate</a> </li>
        </ul>
      </div>
    </div>
    <div class="row last">
      <div class="col-lg-6 col-md-12">
        <ul>
          <li> <a href="#">Privacy Policy</a> </li>
          <li> <a href="#">Terms of Use</a> </li>
          <li> <a href="#">California Transparency in Supply Chain Act</a> </li>
        </ul>
      </div>
      <div class="col-xs-6 hidden-md hidden-sm hidden-xs">
        <p> © 2016 SHIMANO INC. ALL RIGHTS RESERVED </p>
      </div>
    </div>
  </div>
</footer>