<template data-sly-template.simple="${ @ container}">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <div class="block-wysiwyg_content">

   <sly data-sly-test="${wcmmode.edit}" data-sly-use.allowed="com.day.cq.wcm.foundation.AllowedComponentList"></sly>
    <sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
         id="${container.id}"
         class="cmp-container${wcmmode.edit ? ' {0}': '' @ format=[allowed.cssClass]}"
         style="${container.backgroundStyle @ context='styleString'}">
        <sly data-sly-test.isAllowedApplicable="${allowed.isApplicable}"
             data-sly-test="${isAllowedApplicable}"
             data-sly-use.allowedTemplate="allowedcomponents.html"
             data-sly-call="${allowedTemplate.allowedcomponents @ title=allowed.title, components=allowed.components}"></sly>
        <sly data-sly-test="${!isAllowedApplicable}"
             data-sly-repeat="${container.items}" data-sly-resource="${item.path @ decoration=true}"></sly>
        <sly data-sly-test="${!isAllowedApplicable && !wcmmode.disabled}"
             data-sly-resource="${resource.path @ resourceType='core/wcm/components/container/v1/container/new', appendPath='/*', decorationTagName='div', cssClassName='new section'}" />
    </sly>

    		</div>
    	</div>
   	 </div>
   </div>


</template>