
<sly data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer">

    <sly data-sly-use.simpleTemplate="simple.html"
         data-sly-call="${simpleTemplate.simple @ container=container}"></sly>
</sly>