<div class="module module-box-video"style=" background-color: #fff">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12  col-sm-10 align-self-center">
        <h2 class="title big_title" >${properties.title}</h2>
        <div class="module-box-video-video_container" style="background-image: url('https://img.youtube.com/vi/${properties.youtubeId @ context='styleToken'}/sddefault.jpg')"> <img src="/content/dam/southpower/assets/img/video_ratio.gif" class="video_ratio" />
          <div class="cta-container">
            <div class="clr"></div>
            <a class="cta2" data-fancybox href="https://www.youtube.com/watch?v=${properties.youtubeId}">watch</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>