
<sly data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test="${image.src}"
     data-cmp-is="image"
     data-cmp-lazy="${image.lazyEnabled}"
     data-cmp-src="${image.srcUriTemplate ? image.srcUriTemplate : image.src}"
     data-cmp-widths="${image.widths}"
     data-asset="${image.fileReference}"
     data-asset-id="${image.uuid}"
     data-title="${image.title || image.alt}"
     itemscope itemtype="http://schema.org/ImageObject">
    <a data-sly-unwrap="${!image.link}" href="${image.link}"><img src="${image.src}" alt="${image.alt || true}" title="${image.displayPopupTitle && image.title}"/></a>
</sly>
 
<sly data-sly-call="${templates.placeholder @ isEmpty = !image.src, classAppend = 'cmp-image cq-dd-image'}"></sly>
