<sly 
     data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.text="${title.text}">
    <h1  data-sly-element="${title.type}"><a data-sly-unwrap="${!title.linkURL || title.linkDisabled}"  href="${title.linkURL}">${text}</a></h1>
</sly>

